/**
 * Variables 
 */

/* Common Colors */
$white: #FFFFFF;
$black: #000000;

/* Brand Colors */
$theme-dark-grey: #354151;
$theme-dirty-white: #e9eef1;
$theme-blue: #1393bd;
$theme-red: #f65959;

/* Fonts */
$font: 'Lato', sans-serif;

/* Typography */
$theme-font-size: 14px;



